:root {
    --background: #242424;
    --text: #bababa;
    --button-background: #343434;
    --button-hover: #404040;
    --button-pressed: #505050;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

div {
    color: var(--text);
}

h1 {
    color: var(--text);
}

#title {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 25px;
}

body {
    overflow: hidden;
    background-color: var(--background);
}

#buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.objButton {
    background-color: var(--button-background);
    border: none;
    color: var(--text);
    padding: 15px 32px;
    margin: 2px 4px;
    border-radius: 2px;
}

.objButton:visited {
    outline: none;
}

.objButton:focus {
    outline: none;
}

.objButton:hover {
    background-color: var(--button-hover);
}

.objButton:active {
    background-color: var(--button-pressed);
}

#optionsSidebar {
    z-index: 1;
    height: 40%;
    width: 0px;
    position: fixed;
    bottom: 120px;
    right: 0px;
    background-color: var(--button-background);
    transition: 0.5s;
    opacity: 0.8;
    border-radius: 2px;
}

#optionsButton {
    position: absolute;
    right: 0px;
    bottom: 120px;
    padding: 10px 5px;
    transition: 0.5s;
}

#optionsTitle {
    position: absolute;
    left: 10px;
    top: 10px;
}

.options {
    position: absolute;
    left: 10px;
    top: 0px;
    overflow: visible;
}

.checkmark {
    position: absolute;
    left: 100px;
    height: 15px;
    width: 15px;
    background-color: var(--button-pressed);
}

.checkboxContainer {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/*change the colour of the checkbox when hovered over*/
.checkboxContainer:hover input ~ .checkmark {
    background-color: #606060;
}

/*change the colour of the checkbox when checked over*/
.checkboxContainer input:checked ~ .checkmark {
    background-color: #707070;
}

.checkmark:after {
    content: "x";
    position: absolute;
    left: 4px;
    bottom: 1px;
    display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}

.slidercontainer {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    overflow: visible;
}
  
.slider {
    position: relative;
    right: -25px;
    top: 0px;
    -webkit-appearance: none;
    height: 10px;
    background: var(--button-pressed);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 5px;
    width: 75px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #707070;
    cursor: pointer;
}

.sliderContainer div {
    position: relative;
    right: -230px;
    top: -15px;
}

#options {
    position: absolute;
    top: 50px;
}

.checkboxContainer {
    padding: 3px 3px;
}

.sliderContainer {
    padding: 3px 3px;
    height: 17px;
}

#object {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background);
}
