head {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242424;
}

#object {
    margin: 0;
    padding: 0;
    background-color: #242424;
}